@mixin flex($direction: row, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin align-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
